[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pre-commit = "<2.16.0"
black = "*"
pytest = "<7.0.2"
mypy = "*"

[requires]
python_version = "3.10"
